body {
    background-color: #F0F0ED; 
    width: 900px; 
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 1.5vw;
    font-family: 'Gill Sans';
    overflow-x: hidden;
    margin-block-end: 1em;
  } 
  
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 40px; 
    text-align: center ;
    margin-top: 0.2vw;
    padding-bottom: 0vw;
    letter-spacing: 0px; 
    color: #642c3a    ; 
    overflow: visible; 
      ;
  }

  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 30px; 
    color: #39101a    ;
    text-align: center ;
    margin-top: 2vw;
    line-height: 2vw;  
    letter-spacing: 0px; 
  }
  
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 60%;
}

   
  }

  
  h6 {color: #061826; font-size: 1.5vw; box-sizing: border-box; border-radius: 5em;
    padding: .3em; margin: .5em; margin-right: .2em;
    text-align: center;


  }


  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT';
    background: #e2dedb;
    color: #b3aca7;
  }
  
  header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
  }
  
  #form {
    position: relative;
    width: 500px;
    margin: 25px auto 100px auto;
  }
  
  input {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: #efeadd    ;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 75px;
    padding: 15px;
    
    background: #efeadd    ;
    outline: none;
    
    color: #726659;
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT';
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #e7b8a6    ;
    color: #e2dedb;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT';
    font-size: 0.875em;
    color: #d99ea0;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }
/*
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFCAD4    ;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 20px 20px 20px 15px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 10px;
    color: #AD4930;
    display: block;
  }
    
  .sidenav a:hover {
    color:  #1F2A3F;    
  }
  

  

  
  @media screen and (max-width: 600px) {
   body {padding: 20px;}
    h1 {font-size: 1.5vw;
      text-align: center;
      /*padding-left: 20vw;.
      /*padding-right: 10vw;
    }
  
    h4, h3 {
      padding-left: 0;
      margin-left: 0;
    }
    div.bodytext {padding: 20px; font-size: 30px;}
   
  
  }
  
  @media screen and (max-width: 850px) {
    body {
      width: 100vw;
      padding: 4em;
    }

    
  
    .sidenav {
      float: inline-start;
      display:inline;
      width: 10vw;

    }
  
    .sidebar .icon {
      float: center;
      padding: 0;
      width: 0;
      top: 0;
      display: inline;
      color: #fc6d4f;
      font-size: 15em;
    }
  
    #exit{
      padding: 20px;
      width: 100%;
    }
  
    .sidenav.responsive { 
      display: flex; 
    }
  }
  

/*popup

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page 
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default 
.form-popup {
  display:block;
  position: fixed;
  bottom: 20;
  left: 40;
  right: 635px;
  border: 3px solid #AD4930;
  z-index: 9;
}

/* Add styles to the form container 
.form-container {
  max-width: 500px;
  padding: 20px 30px 40px 20px;
  background-color: #FFCAD4;
}

/* Full-width input fields 
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 20px;
  margin: 5px 10 22px 10;
  border: none;
  align-items: center;
  background: #F8F5E0;
}

/* When the inputs get focus, do something 
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button 
.form-container .btn {
  background-color: #AD4930;
  color: white;
  padding: 20px 40px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-top: 1.5vw;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button 
.form-container .cancel {
  background-color: #061826; align-items: center;
}

/* Add some hover effects to buttons 
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


